$primary-bg-color: #0a192f;
$secondary-bg-color: rgb(33, 37, 41);
$primary-text-color: white;
$secondary-text-color: #d1d4d7;
$highlight-color: #b2e265;
$berkeley-blue: #003262;
$california-gold: #fdb515;
$metallic-gold: #bc9b6a;
$founders-rock: #2d637f;
$medalist: #e09e19;
