@use "variables";

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  background-color: variables.$primary-bg-color;

  .bar {
    height: 1px;
    width: 100%;
    margin-bottom: 2rem;
    background-color: variables.$highlight-color;
  }

  a {
    margin-bottom: 2rem;
    font-size: smaller;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
